<section class="container_show_comments">
    <div class="post_comment_header">
            <h3 class="post-title">{{post.title}}</h3>
            <h8>{{post.post_desc}}</h8>
            <div>
                <h6 class="post_name">Posted by: {{post.user.username}}</h6>
                <h6 class="post_date">Date: {{format_date post.post_date}}</h6>
            </div>
            
    </div>
    <div class="add_comment_button">
        <a href="/post/{{post.id}}/add-comment"><button class="btn btn-primary" type="submit">Add Comment</button></a>
    </div>

    <section class="flex-row justify-center">
        {{#each post.comments as |comment|}}
        {{> comment-details }}
        {{/each}}
    </section>
</section>